*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1440px;
}
/*--------------------------
1.Page Header
-------------------------*/
header{
    background-color: #DEB873;
    text-align: center;
}
header div:nth-child(1){
    text-align: center;
}
.spann_line{
    font-weight: 900;
    padding-right: 35px;
    letter-spacing: -6px;
}
header div p:first-child{
    font-family: Open Sans;
    display: inline-block;
    color: #042A5A;
    text-align: start;
    padding: 0 500px 0 0;
}

header div:nth-of-type(1) p:nth-child(2){
    font-family: Open Sans;
    color: #042A5A;
    display: inline-block;
    padding: 0 0 0 500px;
}

.border{
    border-bottom: 2px solid  #042A5A;
    padding-bottom: 10px;
}


header h1{
    font-family: Athene;
    font-size: 160px;
    color: #042A5A;
    border-bottom: 2px solid #042A5A;
    font-weight: normal;
    display: inline-block;
    width: 1200px;
    height: 120px;
    padding-bottom: 130px;
}
header h1+h1{
    font-family: Athene;
    font-size: 160px;
    color: #042A5A;
    border-bottom: 2px solid #042A5A;
    display: inline-block;
    width: 1200px;
    height: 120px;
    font-weight: normal;
    margin-bottom: 30px;
    
    
    
}

.blue_img{
width: 350px;
margin: 0 auto;
padding: 10px;
}

.blue_img span{
font-weight: 700;
font-family: Athene;
}
.blue_img p{
    font-family: Open Sans;
    color: #042A5A;
    width: 295px;
    padding-left: 6px;
    font-family: Athene;
    font-size: 24px;
    padding-bottom: 10vh;
    
}


    /*--------------------------
2.Page section Release
-------------------------*/

.release{
    background-color: #F4C4C4;
}
.release p:nth-child(1){
    font-family: Open Sans;
    color: #282B29;
    padding: 5vh 0 0 5vh;
    
}
.release h2{
    font-family: Athene;
    font-size: 160px;
    color: #282B29;
    padding: 10vh 0 0 10px;
    font-weight: normal;
    margin-bottom: 0;
}
.release p:nth-of-type(2){
    font-family: Open Sans;
    font-size: 18px;
    color: #282B29;
    width: 550px;
    font-weight: normal;
    margin-left: auto;
    padding-right: 5vw;
    line-height: 200%;
}

.PRINCIPLES p{
    color: #282B29;
    font-family: Open Sans;
    border-bottom: 2px solid black;
    padding: 100px 0 0px 0;
    width: 555px;
    margin: 0 5vw 0 auto;
    text-align: end;
}
.PRINCIPLES{
text-align: end;
}

.release div:last-child{
text-align: right;
}
.release div:last-child img{
    width: 150px;
    padding: 5vh 100px 100px 0;
}
.table{
    width: 600px;
    margin: 20px 0 0 27vw;
    text-align: right;
    
}

table tr td{
    
    padding: 20px;
    
}
.td_1{
    text-align: center;
}
.td_2{
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}
.td_3{
    width: 150px;
    
}



/*--------------------------
3.Page section Works
-------------------------*/
.works{
    background:#DEB873;
}
.works p:nth-of-type(1){
    padding: 5vh 5vw 0 0;
    font-size: 18px;
    text-align: right;
    font-family: Open Sans;
    color: #7D2222;
}
.works p:nth-of-type(2){
    width: 550px;
    font-size: 18px;
    font-family: Open Sans;
    color: #7D2222;
    line-height: 200%;
    padding: 0 0 15vh 5vw;
}

.works h2:nth-child(2){
    padding-top: 5vh;
    font-size: 160px;
    font-family: Athene;
    font-weight: normal;
    color: #7D2222;
    text-align: right;
    
}

/*--------------------------
3.IMAGES
-------------------------*/
.img_1{
    background: url("../img/bg-marconatto-1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-right: 5vw;
    
}

.img_1 h2{
    font-size: 64px;
    color: #7D2222;
    font-family: Athene;
    font-weight: normal;
    padding: 0 0 20vh 5vw;
}

.img_2{
    background: url("../img/kathe_cover-1.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin: 20vh 0 0 5vw;
    
}

.img_2 h2{
    font-size: 64px;
    color: #7D2222;
    font-family: Athene;
    font-weight: normal;
    padding: 0vh 5vw 20vh 5vw;
    text-align: right;
}
.img_3{
    background: url("../img/bg-nicole-1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin: 20vh 5vw 0 5vw;
}

.img_3 h2{
    font-size: 64px;
    color: #7D2222;
    font-family: Athene;
    font-weight: normal;
    padding: 0 0 20vh 0vw;
}
.img_4{
    background: url("../img/boa_cover-1.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin: 20vh 5vw 0 5vw;
}
.img_4 h2{
    font-size: 64px;
    color: #7D2222;
    font-family: Athene;
    font-weight: normal;
    padding: 0 0 20vh 0vw;
    text-align: right;
}

/*--------------------------
4.Page Contacts
-------------------------*/
.contact{
    background: #D2D2D2;;
}
.contact p:nth-of-type(1){
    color: #388883;
    padding: 7vh 0 7vh 5vw;
    }

    .contact p:nth-of-type(2){
        font-size: 24px; 
        font-family: open Sans;
        padding: 0 5vh 0 0;
        line-height: 200%;
        color: #388883;
        width: 330px;
        margin: 0 auto;
      }
  

    .contact h2{
      font-size: 160px; 
      font-family: Athene;
      padding-bottom: 5vh;
      color: #388883;
      
    }
   
    .contact ul{
        font-size: 24px;
        list-style: none;
        text-align: right;
        padding: 5vh 5vh 5vh 0;
        line-height: 50px;
        color: #388883;
        font-family: open Sans;
        cursor: pointer;
    }
    


